<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Rich Link Preview Generator</title>
    <script type="module" src="/static/App.js"></script>
    <link rel="stylesheet" href="/static/App.css" />
  </head>
  <body>
    <main id="root"></main>
    <!-- <div id="box">
      <form action="javascript:">
        <input placeholder="Enter URL" id="data-inp" />
        <button>Submit</button>
        <div id="loading" style="display: none;">Loading</div>
      </form>
      <div id="error"></div>
    </div>
    <template>
      <div id="main">
        <style>
          [bold] {
            font-weight: bold;
          }
        </style>
        <div>
          <div><span bold>Site:</span> <span id="site_name"></span></div>
          <span bold>Title:</span>
          <span id="title"></span>
        </div>
        <div>
          <span bold>Description</span>
          <span id="description"></span>
        </div>
        <div>
          <span bold>Media</span>
          <span id="media"></span>
        </div>

        <div>
          <span bold>Language</span>
          <span id="locale"></span>
        </div>
        <div>
          <span bold>
            content type
          </span>
          <span id="type"></span>
        </div>
      </div>
    </template>
    <script>
      const error = document.getElementById("error");
      const template = document.querySelector("template");
      const box = document.getElementById("box");
      const form = document.querySelector("form");
      const loading = document.getElementById("loading");
      const inp = document.getElementById("data-inp");
      form.addEventListener("submit", async () => {
        const val = inp.value;
        error.textContent = "";
        if (!val) return;
        loading.style.display = "";
        const resp = await fetch("/get?url=" + encodeURIComponent(val));
        const json = await resp.json();
        if (json.error) error.textContent = json.error;
        loading.style.display = "none";
        const tpl = template.content.cloneNode(true);
        for (const prop of [
          "title",
          "site_name",
          "type",
          "image",
          "description",
          "audio",
          "locale",
          "video"
        ]) {
          const dat = json[prop];
          if (dat) {
            const el = tpl.getElementById(prop);
            const media = tpl.getElementById("media");
            if (prop === "image") {
              const img = new Image(200, 200);
              img.src = new URL(dat, json.host).toString();
              media.appendChild(img);
              continue;
            }
            if (prop === "audio") {
              const audio = document.createElement("audio");
              audio.src = new URL(dat, json.host).toString();
              media.appendChild(audio);
              continue;
            }
            if (prop === "video") {
              const video = document.createElement("video");
              video.src = new URL(dat, json.host).toString();
              media.appendChild(video);
              continue;
            }
            el.appendChild(document.createTextNode(dat));
          }
        }
        form.replaceWith(tpl);
      });
    </script> -->
  </body>
</html>
